.btnTestIp {
    margin-top: 10px;
    padding-right: 20px !important;
    padding-left: 20px !important;
}

.btnFormMarginTop {
    margin-top: 10px;
}

.mainHost {
    padding: 10px 50px 10px 50px;
}

.collection {
    overflow: visible;
}

.btnForm {
    min-width: 140px !important;
}


.collection .collection-item.avatar {
    width: 45% !important;
    float: left !important;
    margin-left: 30px !important;
    min-height: 94px;
    padding-top: 15px;
}

.collectionnetworkscan {
    width: 100% !important;
    float: none !important;
}

.clearform {
    margin-left: 8%;
}

nav .brand-logo {
    top: 0px;
}

.rowstyle {
    width: 50%;
    margin-right: auto;
    margin-left: 25% !important;
    margin-top: -4.5%;
}

.selectdevices {
    width: 102%;
    z-index: 99999
}

.btn {
    background-color: #42a5f5;
}

    .btn:hover {
        background-color: #1565c0;
    }




@media only screen and (max-device-width:750px) {


    /* COLLECTION MAIN */
    .collection .collection-item.avatar {
        width: 90% !important;
        float: left !important;
        margin-left: 30px !important;
        min-height: 150px;
        padding-top: 20px;
        padding-left: 85px;
    }

    #mainHostList ul li i {
        margin-top: 10px;
        color: white;
        margin-bottom: 5px;
        width: 80px;
        height: 80px;
    }

    .collection .collection-item.avatar i.circle {
        font-size: 44px;
        line-height: 79px;
        color: #fff;
        background-color: #999;
        text-align: center;
    }

    .collection .collection-item.avatar .title {
        font-size: 16px;
        font-size: 36px;
        margin-left: 35px;
    }

    .collection .collection-item.avatar p {
        margin: 0;
        margin-left: 35px;
        font-size: 30px;
        line-height: 40px;
        margin-top: 5px;
    }

    /* NAV HEADER*/

    nav .brand-logo {
        position: absolute;
        color: #fff;
        display: inline-block;
        font-size: 5.1rem;
        padding: 0;
        white-space: nowrap;
        top: 30px;
    }

    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 130px;
        line-height: 64px;
    }

    /* BUTTON MENU*/

    .btn-responsive {
        background-color: #0d47a1;
        min-width: 100px !important;
        min-height: 100px !important;
    }

    .btn-floating.btn-large i {
        line-height: 99px;
    }

    .btn-large i {
        font-size: 3.6rem;
    }


    .fixed-action-btn.horizontal ul {
        right: 110px;
    }

    .btn-floating {
        min-width: 70px;
        min-height: 70px;
        margin-top: 15px;
    }

        .btn-floating i {
            font-size: 2.6rem;
            line-height: 71px;
        }

    .btn-responsive-i i {
        margin-right: 15px;
    }

    .btn-refresh {
        font-size: 30px;
    }

    #li-btn-refresh {
        margin-top: 20%;
    }
    /* MODAL */
    h4 {
        font-size: 5.28rem;
        line-height: 110%;
        margin: 1.14rem 0 .912rem 0;
    }

    .modal-form {
        max-height: 70%;
        text-size-adjust: 200%;
    }

    .row .col.s8 {
        width: 100%;
        margin-left: auto;
        left: auto;
        right: auto;
    }

    input[type=text] {
        height: 5rem;
    }

    .btn, .btn-large, .btn-flat {
        height: 55px;
        line-height: 54px;
        width: 250px;
        margin-top: 10px;
    }

    .rowstyle {
        width: 80%;
        margin-right: auto;
        margin-left: 10% !important
    }

    .row .col.s4 {
        margin-top: 30px;
        margin-bottom: 30px;
        width: 100%;
    }

    .selectdevices {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .btnbottom {
        margin-top: 30px;
        padding-bottom: 15px;
    }

    .input-field.col label {
        left: .75rem;
        width: 33%;
    }

    .clearform {
        margin-left: 0%;
    }

    .hide-on-med-and-down {
        display: initial !important;
    }

    /* COLLECTION SCAN NETWORK*/

    #ulScannetwork .colletion-scannetwork .collection-item.avatar p {
        font-size: 16px !important;
        line-height: 40px !important;
    }

    #ulScannetwork .colletion-scannetwork .collection-item.avatar .title {
        font-size: 20px !important;
        margin-left: 35px !important;
    }


    .title-collection-scannetwork {
        margin-left: 36px !important;
        font-size:15px !important;
        
        
    }

    .p-collection-scannetwork {
        font-size: 14px !important;
    }


    .collection .collection-item.avatar i {
        width: 80px !important;
        height: 80px !important;
        /*margin-top:36px !important;*/
    }


}




@media only screen and (max-width:750px) {
    .collection .collection-item.avatar {
        width: 90% !important;
        float: left !important;
        margin-left: 30px !important;
        min-height: 95px;
        padding-top: 10px;
    }

    .modal .modal-content {
        padding: 24px;
        padding-bottom: 10px;
        padding-top: 30px;
    }

    .modal h4 {
        margin-top: -10px;
    }

    .row {
        width: 100% !important;
        margin-right: auto !important;
        margin-left: 0px !important;
    }

    .modal {
        max-height: 75%
    }

    .clearform {
        margin-left: 7%;
    }

    .btnbottom {
        margin-bottom: 10px;
    }

    .selectdevices {
        width: 102%;
        z-index: 99999;
        margin-top: 0;
    }

    .hide-on-med-and-down {
        display: initial !important;
    }
}
